<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<form (ngSubmit)="submitForm()">
  <label for="account">Account ID:</label>
  <input type="text" id="account" name="account" [(ngModel)]="transaction.account_id" required data-type="account-id">

  <label for="amount">Amount:</label>
  <input type="number" id="amount" name="amount" [(ngModel)]="transaction.amount" required data-type="amount">

  <input type="submit" value="Submit" data-type="transaction-submit">
</form>



 -->
