.transaction-frame {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.container {
  display: flex;
}

.transaction-form {
  flex: 1; /* Occupy 30% of container */
  padding: 20px;
}

.transaction-list {
  flex: 2; /* Occupy 70% of container */
  padding: 20px;
}


.transaction-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

